<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pantalla</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<!-- <body class="container"> -->

<body class="align-items-center" style="background-color: brown; color: aliceblue; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
<div class="sm-12 ">
    <span id="ultima"></span>
</div>



</body>

<script src="socket.io/socket.io.js"></script>
<script src="../main.js"></script>

</html>